<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Tables</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/dist/logout.js"></script>
</head>
<body>
    <div class="container">
        <h1>Database Tables</h1>
        <button class="big-btn" onclick="handleLogout()">Logout</button>
        <ul>
            {% for table in tables %}
                <li><a href="{{ url_for('show_table_contents', tableName=table) }}">{{ table }}</a></li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
