body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #bb86fc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #03dac6;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #bb86fc;
}
